@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.nav-top{
    display: flex;
    /* border: 2px solid red; */
    height: 60px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #d7d7d7;
    /* box-shadow: 1px 1px 5px #999; */
}
.nav-top-imgbox{
    /* box-shadow: 1px 1px 5px #999; */
    /* border-left: 2px solid #d7d7d7; */
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-top-imgbox>img{
    border-left: 2px solid #d7d7d7;

}
.nav-bottom{
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bottom>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 130px;
    font-size: 14px;
    padding: 8px;
}
.nav-bottom>div>i{
    font-size: 20px;
}
#nav-btm-1{
    background-color: grey;
    color: #fff;
    border-bottom-left-radius: 5px;
}
#nav-btm-2{
    border-bottom: 5px solid #E3350D;
    color: grey;
}
#nav-btm-2:hover{
    background-color: #E3350D;
    color: #fff;

}
#nav-btm-3{
    border-bottom: 5px solid #ee6b2f;
    color: grey;
}
#nav-btm-3:hover{
    background-color: #ee6b2f;
    color: #fff;
}
#nav-btm-4{
    border-bottom: 5px solid #e6bc2f;
    color: grey;
}
#nav-btm-4:hover{
    background-color: #e6bc2f;
    color: #fff;
}
#nav-btm-5{
    border-bottom: 5px solid #4dad5b;
    color: grey;
}
#nav-btm-5:hover{
    background-color: #4dad5b;
    color: #fff;
}
#nav-btm-6{
    border-bottom: 5px solid #30a7d7;
    color: grey;
}
#nav-btm-6:hover{
    background-color: #30a7d7;
    color: #fff;
}
#nav-btm-7{
    border-bottom: 5px solid #1b53ba;
    color: grey;
    border-bottom-right-radius: 5px;
}
#nav-btm-7:hover{
    background-color: #1b53ba;
    color: #fff;
}

/* MAIN SECTION  */

.main{
    border: 2px solid red;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
}
.cards{
    border: 2px solid rgb(78, 48, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* LEFT CARDS STYLING  */

.left-cards{
    border: 2px solid yellowgreen;
    width: 47%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.main-card{
    border: 2px solid orangered;
    border-radius: 10px;
}
.main-card>img{
    width: 100%;
    height: 100%;
}
.content{
    border: 2px solid palevioletred;
    background-color: #30a7d7;
    padding: 20px;
    margin-top: -6px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.content>h2{
    color: #fff;
    font-size: 22px;
}
.content>p{
    color: #cccccc;
}
.sub-card{
    border: 2px solid olive;
    display: flex;
    width: 100%;
    /* padding: 5px; */
    margin-top: 10px;
}
.card1{
    width: 50%;
    margin-right: 15px;
    border: 2px solid purple;
    border-radius: 5px;
}
.card1>img{
    width: 100%;
}
#card1-content{
    background-color: #e6bc2f;
    color: #fff;
    margin-top: -6px;
    padding: 20px;
}
.card2{
    width: 50%;
    /* margin: 10px; */
    border: 2px solid purple;
    border-radius: 5px;
}
.card2>img{
    width: 100%;
}
#card2-content{
    background-color: #FF514F;
    color: #ffff;
    margin-top: -6px;
    padding: 20px;
}

/* RIGHT CARD STYLING */

.right-cards{
    border: 2px solid #4dad5b;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 15px;
    cursor: pointer;
    /* padding-bottom: 15px; */
}
.right-card1{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.right-card1>img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#right-card1-content{
    /* background-color: #30a7d7; */
    background-color: #313131;
    color: #fff;
    padding: 15px;
    margin-top: -6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#right-card1-content>h2{
    font-size: 22px;
}
.right-card2{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.right-card2>img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#right-card2-content{
    /* background-color: #30a7d7; */
    background-color: #B38AEA;
    padding: 15px;
    margin-top: -6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#right-card2-content>h2{
    font-size: 22px;
    color: #fff;
}
#right-card2-content>p{
    color: #4B1A8E;
}
.right-card3{
    border: 2px solid rebeccapurple;
    display: flex;
    width: 100%;
}
.right-card3>img{
    width: 35%;
}
#right-card3-content{
    background-color: #0000EE;
    padding: 10px;
    color: #fff;
}
#right-card3-content>h2{
    font-size: 22px;
}

 /* FEATURED POKEMON   */

 .slider{
    border: 2px solid black;
    display: flex;
    width: 100%;
    margin-bottom: 50px;
 }
 .slider-images{
    cursor: pointer;
    width: 50%;
    /* border: 2px solid green; */
    background-color: #313131;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(0.3);
    /* background-color: #787676; */
    /* object-position: center; */
    /* object-fit: cover; */
 }
 .slider-images> .img-container{
    width: 100%;
    background-color: #787676;
 }
 .img-container>img{
    width: 100%;
    /* filter: brightness(0.3); */
    
    /* object-fit: cover;
    object-position: center center; */
 }
 #third-img{
    filter: none;
 }
#slider-content-1, #slider-content-2, #slider-content-3, #slider-content-4, #slider-content-5{
    background-color: #313131;
    color: #FFFF;
    padding: 30px 40px 60px 30px;
}
#slider-content-1>h2, #slider-content-2>h2, #slider-content-3>h2, #slider-content-4>h2, #slider-content-5>h2{
    filter: none;
}